/*Menu*/

.top-navigation{
    background-color: #000000;
    overflow: hidden;
    /*width: 600px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}
.top-navigation a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}
.top-navigation a:hover{
    background-color: #ddd;
    color: black;
}
.top-navigation a.active{
    background-color: #11bdc5;
    color: white;
}

/* Table Selection*/
.alltables{
    list-style: none;
}
.alltables li{
    float: left;
    width: 300px;
    margin: 25px;
}
.alltables li div{
    background: #30e0d8;
}
.alltables li div img{
    width:300px;
    height: 280px;
}
.alltables li a{
    text-decoration: none;
}

/*Login */
.login-form{
    text-align: center;
}

/* Footer */
.resetLocalStorage {
    font-style: italic;
}
footer{
    text-align: center;
}

/* Structure for the page*/
.pagecontainer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.top-header{
    overflow: hidden;
}

body{
    width: 960px;
    margin-right: auto;
    margin-left: auto;

}

/*decoration for body part*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tablinks{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
}
.tab .tablinks:hover {
    background-color: #a9cac5;
    color: white;
}
.tab .tablinks.active {
    background-color: #0dbec5;
    color: white;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
}
.tab button:hover {
    background-color: #a9cac5;
    color: white;
}
.tab button.active {
    background-color: #0dbec5;
    color: white;
}
.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 60vh;
    overflow: auto;
}

.tabcontentScroll{
    overflow: scroll;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 500px;
}
.tab input[type=text]{
    float: left;
}
.search-form{
    float: right;
    margin: 11px;
}
.submit-button{
    float: left;
}
/*order page*/
.leftside{
    width: 650px;
    float: left;
}

.items{
    list-style: none;
    overflow: hidden;
}
.items li{
    width: 140px;
    float: left;
    border: 1px solid #e6e6e6;
    margin: 5px;
}

.items li p{
    font-size: 12px;
}
.rightside{
    overflow: hidden;
    float: right;
    text-align: center;
    width: 30%;
    height: 600px;
}
.orderbtn{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #a9cac5;
    margin-top: 20px;
    font-size: 15px;
    color: white;
}
.orderbtn:hover{
    background-color: #0CBEC2;
    transition: 0.5s;
    color: #f1f1f1;
}

.rightsideSroll{
    overflow: scroll;
    float: right;
    text-align: center;
    border: 1px solid #ccc;
    height: 200px;
}
.wraper{
    float: right;
    text-align: center;
    width: 30%;
    margin: 10px;
}
/*for info contaiber*/
.info-container{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;

    will-change: opacity;
    transform: translateZ(0);
}
body.modal-showing .info-container {
    opacity: 1;
    visibility: visible;
}
body.modal-showing.closing .info-container {
    opacity: 0;
}

.info-container .infos {
    background: #fff;
    padding: 22px 33px;
    max-width: 550px;
    width: 100%;
    border-radius: 4px;

    position: absolute;
    top: 14%;
    left: 16%;

    transition: top 0.2s ease-out, transform 0.2s ease-out;

    box-shadow: 0px 0px 50px 5px #ffffff;
    /*transform: translate(-50%, -50%)
                translateZ(0)
                scale(0.9)
                rotateX(60deg);*/

    /* Getting the GPU to handle it - the NEW way */
    will-change: top, transform;
}

body.modal-showing .info-container .info {
    top: 50%;
    transform: translate(-50%, -50%) /* keep trick for correct positioning */
    translateZ(0) /* Getting the GPU to handle it - the old way */
    scale(1) /* zoom in to scale 1:1 */
    rotateX(0);
}
body.modal-showing.closing .info-container .info {
    top: 45%;
    transform: translate(-50%, -50%) /* keep trick for correct positioning */
    translateZ(0) /* Getting the GPU to handle it - the old way */
    scale(0.9) /* zoom in to scale 1:1 */
    rotateX(60deg);
}
.click{
    text-decoration: none;
}

#tabHeader {
    background-color: #a9cac5;
    margin: 0;
    padding: 10px;
    border: #f1f1f1 solid 1px;
    color: white;
}

#tab-area{
    height: 45vh;
    border: black solid 2px;
    overflow: auto;
}

#tab-container {
    display: flex;
    flex-direction: column;
}

.beverage-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom: #f1f1f1 solid 1px;
    padding-bottom: 2px;
}
.beverage-tab-container input {
    width: 20px;
}

#total-price-heading {
    font-weight: bold;
}

.menuListNameItem{
    float: left;
    font-weight: bold;
}
.menuListPriceItem{

    font-style: italic;
}
.menuListButton{
    float: right;

}
#menuList{
    border: black solid 2px;
}

.modalInfoTitle{
    font-size: 16px;
    font-weight: bold;
}

.itemMenuList{
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom: #f1f1f1 solid 1px;
    padding-bottom: 2px;
}
.hidden-beverage-id {
    display: none;
}
