body{
	height: auto;
	margin:0;
}
.pagecontainer{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.top-header{
	overflow: hidden;
}
.hnavigation{
	list-style: none;
	margin-right: auto;
	margin-left: auto;
}
.hnavigation li{
	float:left; 
	margin: 0 10px;
}
.hnavigation li a{
	text-decoration: none;
}
.body{
	overflow: hidden;
}
.alltables{
	list-style: none;
}
.alltables li{
	float: left;
	width: 300px;
	margin: 25px;
}
.alltables li div{
	background: #30e0d8;
}
.alltables li div img{
	width:300px;
	height: 280px;
}
.alltables li a{
	text-decoration: none;
}