<body>
	<div class="pagecontainer">

		<h2>Table management page</h2>

	<main class="body">
		<ul class="alltables">
		<li>
			<div>
			<h1>Table Number 1</h1>
			<p>status: occupied</p>
			<!--<button>book</button>-->
		</div>
		</li>

		<li>
			<div>
			<h1>Table Number 2</h1>
			<p>status: avaliable</p>
			<button id="book_2">book</button>
		</div>
		</li>

		<li>
			<div>
			<h1>Table Number 3</h1>
			<p>status: avaliable</p>
			<button>book</button>
		</div>
		</li>

		<li>
			<div>
			<h1>Table Number 4</h1>
			<p>status: avaliable</p>
			<button>book</button>
		</div>
		</li>
		
	</ul>
		
	</main>

</div>

</body>
