<main class= main-part" style="margin-top:80px;">
    <div class="leftside">
        <div class="tab">
            <button id="openBeverages" class="tablinks">Beverages</button>
            <button id="openVIP" class="tablinks">Special Beverages (VIP only)</button>
        </div>

        <div id="beverages" class="tabcontent">
            <ul class="items" id="beveragesList"></ul>

            <div class="info-container">
                <div class="infos">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <h2>Price: 70kr</h2>
                    <h3>Amount: 100</h3>
                </div>
            </div>
        </div>

        <div id="VIPs" class="tabcontent">
            <ul class="items" id="vipBeverageList"></ul>
        </div>
    </div>

    <div class="rightside" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1 id="tabHeader">Tab</h1>

        <div id="tab-area">

            <div id="tab-container">

            </div>
        </div>

        <div id="total-price-heading">
            Total:
        </div>
        <div id="total-price">
            0
        </div>

        <button class="orderbtn">Order</button>
    </div>
