<body>
	<div class="pagecontainer">

		<h2 id="title-tableManagement">Table management page</h2>

		<ul class="alltables">
		<li>
			<div>
				<h1><span class="translate" data-translate-key="sentence_TableNumber">Table Number</span> 1</h1>
			<p id="tableStatus_1"></p>
				<button id="buttonTable1" class="buttonTableBook translate" data-translate-key="string_book" data-table-number="1">book</button>
		</div>
		</li>

		<li>
			<div>
			<h1><span class="translate" data-translate-key="sentence_TableNumber">Table Number</span> 2</h1>
			<p id="tableStatus_2"></p>
				<button id="buttonTable2" class="buttonTableBook translate" data-translate-key="string_book" data-table-number="2">book</button>
		</div>
		</li>

		<li>
			<div>
				<h1><span class="translate" data-translate-key="sentence_TableNumber">Table Number</span> 3</h1>
			<p id="tableStatus_3"></p>
				<button id="buttonTable3" class="buttonTableBook translate" data-translate-key="string_book" data-table-number="3">book</button>
		</div>
		</li>

		<li>
			<div>
				<h1><span class="translate" data-translate-key="sentence_TableNumber">Table Number</span> 4</h1>
			<p id="tableStatus_4"></p>
				<button id="buttonTable4" class="buttonTableBook translate"  data-translate-key="string_book" data-table-number="4">book</button>
		</div>
		</li>
		
	</ul>
	</div>



</body>
