<header class="page-header">
    <img src="./img/logo.png" style="width: 100px">

    <div class="top-navigation">
        <a id="menu-home" class="translate" data-translate-key="string_Home" href="/index.html?url=Home">Home</a>
        <a id="menu-table" class="translate" data-translate-key="string_Table" href="/index.html?url=Table">Tables</a>
        <a id="menu-menu" class="translate" data-translate-key="string_Menu" href="/index.html?url=Menu">Menu</a>
        <a id="menu-bar" class="translate" data-translate-key="string_Bar" href="/index.html?url=Bar">Bars</a>
        <a id="menu-about" class="translate" data-translate-key="string_About"  href="#About">About</a>
        <a id="menu-login" class="translate" data-translate-key="string_Login" href="/index.html?url=Login">Login</a>

    </div>

    <!--<button class="login">Log In</button>-->
</header>
