<main class= main-part" style="margin-top:80px;">
    <div class="leftside">

        <div class="tab">
            <button id="openBeers" class="tablinks">Beers</button>
            <button id="openVIP" class="tablinks">Special Beverages (VIP only)</button>
            <form class="search-form">
                <input type="text" placeholder="Search...">
                <button type="submit" class="submit-button">Search</button>
            </form>
        </div>

        <div id="Beers" class="tabcontentScroll">

            <ul class="items" id="allBeveragesList">

            </ul>

            <div class="info-container">
                <div class="infos">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h2>Price: 70kr</h2>
                    <h3>Amount: 100</h3>
                </div>
            </div>

        </div>

        <div id="VIPs" class="tabcontent">
            <ul class="items">
                <li>
                    <div>
                        <h1>Heinken</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h2>Price: 70kr</h2>
                        <h3>Amount: 100</h3>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Carlsberg</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h2>Price: 80kr</h2>
                        <h3>Amount: 110</h3>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Schliz</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h2>Price: 90kr</h2>
                        <h3>Amount: 120</h3>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Pabst Blue Ribbon (PBR)</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h2>Price: 100kr</h2>
                        <h3>Amount: 130</h3>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Lone Star</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h2>Price: 100kr</h2>
                        <h3>Amount: 130</h3>
                        <button>order</button>
                    </div>
                </li>



            </ul>


        </div>

    </div>

    <div class="rightside" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1 style="background-color: #a9cac5; margin: 0; padding: 10px; border: #f1f1f1 solid 1px; color: white;">Menu list</h1>
        <div id="menuList">
            <div>
            <span class="menuListNameItem">Beer 1</span>
            <span class="menuListPriceItem">100 SEK</span>
            <span class="menuListButton"><button >&times;</button></span>
            </div>
        </div>

        <button class="updateMenuList">Update the menu</button>


    </div>

</main>