<main class= main-part" style="margin-top:80px;">
    <div class="leftside">

        <div class="tab">
            <button id="openBeers" class="tablinks translate" data-translate-key="string_Beers">Beers</button>
            <button id="openVIP" class="tablinks translate" data-translate-key="sentence_SpecialBeverage">Special Beverages (VIP only)</button>
            <form class="search-form">
                <input type="text" class="translate" data-translate-key="string_Search" placeholder="Search...">
            </form>
        </div>

        <div id="Beers" class="tabcontentScroll">

            <ul class="items" id="allBeveragesList">

            </ul>

            <div class="info-container">
                <div class="infos">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h2>Price: 70kr</h2>
                    <h3>Amount: 100</h3>
                </div>
            </div>

        </div>

        <div id="VIPs" class="tabcontentScroll">
            <ul class="items">
            </ul>


        </div>

    </div>

    <div class="rightside" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1 style="background-color: #a9cac5; margin: 0; padding: 10px; border: #f1f1f1 solid 1px; color: white;" class="translate" data-translate-key="sentence_MenuList">Menu list</h1>
        <button class="buttUndo translate" data-translate-key="string_Undo">Undo</button>
        <button class="buttRedo translate" data-translate-key="string_Redo">Redo</button>
        <div id="menuList">
        </div>
        <button id="updateMenuList" class="translate" data-translate-key="sentence_UpdateMenu">Update the menu</button>


    </div>

</main>