<div class="homeWelcome">
   <div style="margin-top: 80px">
       <p class="translate" data-translate-key="sentence_welcomeMessage" > Welcome to our online Bar 100 % dynamic ! You can
           book for a table and order beers and for the bartender he can manage the menu list for beers, by adding or
           removing some, and have access to all the details informations.</p><br/>
       <p>Tips : If you encounter a problem, try to reset the database (link in the footer). And be sure all the javascript are update in your browser.</p>
   </div>
    <div class="rightsideHome">
        <h1 style="background-color: #a9cac5; margin: 0; padding: 10px; border: #f1f1f1 solid 1px; color: white;"
            class="translate" data-translate-key="sentence_MenuOfDay">Menu of the day</h1>
        <div id="menuList">
        </div>
    </div>
</div>

