<main class="main-part" style="margin-top:30px;">
    <div class="leftside">

        <div class="tab">
            <button id="openAllOrder" class="tablinks" onclick="openArea(event, 'All')">All orders</button>
            <button id="openUnpaidOrder" class="tablinks" onclick="openArea(event, 'Unpaid')">Unpaid</button>
            <button id="openPaidOrder" class="tablinks" onclick="openArea(event, 'Paid')">Paid</button>
            <button id="openUpdateOrder" class="tablinks" onclick="openArea(event, 'Updated')">Updated Orders</button>
        </div>

        <div id="All" class="tabcontent">

            <ul class="items">
                <li>
                    <div>
                        <h1>Order #10940</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10960</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10080</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #40980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10987</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10940</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10960</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>



            </ul>

        </div>



        <div id="Unpaid" class="tabcontent">
            <ul class="items">
                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>



            </ul>

        </div>

        <div id="Paid" class="tabcontent">
            <ul class="items">
                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>


            </ul>


        </div>

        <div id="Updated" class="tabcontent">

            <ul class="items">
                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>

                <li>
                    <div>
                        <h1>Order #10980</h1>
                        <h4>Order details</h4>
                        <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
                        <h2>price:325 Kr</h2>
                        <button>order</button>
                    </div>
                </li>



            </ul>


        </div>

    </div>
    <div class="wraper">
        <div class="rightsideSroll">
            <h1 style="background-color: #a9cac5; margin: 0; padding: 10px; border: #f1f1f1 solid 1px; color: white;">Order Details</h1>

            <h1>#10080</h1>
            <h4>Items</h4>
            <p>Items 1: 4 units, Items 2: 5 units, Items 3: 10units</p>
            <h2>price:325 Kr</h2>

        </div>
        <button class="orderbtn" type="submit">oreder</button>
        <button class="orderbtn" type="submit">Cancel Order</button>
    </div>

</main>